body {
  margin: 0;
  font-family: 'Raleway', sans-serif;

  background: rgb(0,0,0);
  background: linear-gradient(29deg, rgba(0,0,0,1) 0%, rgba(116,5,5,1) 37%, rgba(141,4,4,1) 70%, rgba(227,0,0,1) 100%);

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
